<!-- "Join Team" (Post) Form -->
<div class="col-md-5" style="height: 500px;">

    <!-- Creates Main Panel -->
    <div class="panel panel-default" style="height: 550px;">

        <!-- Panel Title -->
        <div class="panel-heading">
            <h2 class="panel-title text-center">Post a product<span class="glyphicon glyphicon-map-marker"></span></h2>
        </div>

        <!-- Panel Body -->
        <div class="panel-body" style="height:700px;font-size: 10px;">

            <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->
            <form name ="addForm" style="height:700px;" novalidate>

                <!-- Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope -->
                <div class="form-group">
                    <label for="country">Country</label>
                    <input type="text" class="form-control" id="country" placeholder="Country" ng-model="formData.country" required>
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" class="form-control" id="city" placeholder="City" ng-model="formData.city" required>
                </div>
                <label class="radio control-label">Rooms</label>
                <label class="checkbox-inline">
                        <input type="radio" name="optionsRadios" id="radiostudio" value="Studio" ng-model="formData.rooms">
                       Studio
                </label>

                    <label class="checkbox-inline">
                        <input type="radio" name="optionsRadios" id="radiotwo" value="2" ng-model="formData.rooms">
                       2
                    </label>
                
                    <label class="checkbox-inline">
                        <input type="radio" name="optionsRadios" id="radiotree" value="3" ng-model="formData.rooms">
                       3
                    </label>
               
                    <label class="checkbox-inline">
                        <input type="radio" name="optionsRadios" id="radiofour" value="4" ng-model="formData.rooms">
                        4
                    </label>
                
                    <label class="checkbox-inline">
                        <input type="radio" name="optionsRadios" id="radiofive" value="5" ng-model="formData.rooms">
                       5
                    </label>
            
                <div class="form-group">
                    <label for="price">Price in dollars</label>
                    <input type="number" class="form-control" id="price" placeholder="Price" ng-model="formData.price" required>
                </div>
                <div class="form-group">
                    <label for="language">Surface area in m2</label>
                    <input type="text" class="form-control" id="area" placeholder="Area" ng-model="formData.area" required>
                </div>
                <div class="form-group">
                    <label for="language">Description</label>
                    <input type="text" class="form-control" id="description" placeholder="Elevator ? Parking ? Balcony ? " ng-model="formData.description" required>
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="number" class="form-control" id="phone" placeholder=" 0584860242" ng-model="formData.phone" required>
                </div>
                <div class="form-group">
                    <label for="latitude">Latitude</label>
                    <input type="text" class="form-control" id="latitude" value="39.500" ng-model="formData.latitude" readonly>
                </div>
                <div class="form-group">
                    <label for="longitude">Longitude</label>
                    <input type="text" class="form-control" id="longitude" value="-98.350" ng-model="formData.longitude" readonly>
                </div>
                <div class="form-group">
                    <!-- Note RefreshLoc button tied to addCtrl. This requests a refresh of the HTML5 verified location. -->
                    <label for="verified" >HTML5 Verified Location? <span><button ng-click="refreshLoc()" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-refresh"></span></button></span></label>
                    <input type="text" class="form-control" id="verified" placeholder= "Nope (Thanks for spamming my map...)" ng-model="formData.htmlverified" style="height: 15px;" readonly>
                </div>
                <!-- Submit button. Note that its tied to createUser() function from addCtrl. Also note ng-disabled logic which prevents early submits.  -->
                <button type="submit" class="btn btn-danger btn-block" ng-click="createUser()" ng-disabled="addForm.$invalid" style="height: 20px; width: 60px; text-align:center; margin: auto; font-size: 15px; vertical-align:middle; padding: 0px;">Post</button>
            </form>
        </div>
    </div>
</div>